RewriteEngine On

# 1. ARCHIVOS SENSIBLES
<FilesMatch "^\.|\.(env|ini|log|git|pem|md|sql|lock|json|yaml)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# LISTADO DE CARPETAS
Options -Indexes

# EXCLUIR ARCHIVOS ESTÁTICOS DEL ROUTER
RewriteCond %{REQUEST_URI} !^/assets/

# REGLA DE REDIRECCIÓN
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?pagina=$1 [QSA,L]